.nav-bg { 
    background-color: #2d3e50;
}

.avatar-container{
    background-color: skyblue;
}

.portfolio-container{
    background-color: whitesmoke;
}

.about-container{
    background-color: skyblue;
}
